html {
    transform-origin: top left;
    transform: scale(0.9);
    overflow: scroll;
}

body * {
    -ms-overflow-style: none; /* IE, Edge ‘Î‰ž */
    scrollbar-width: none; /* Firefox ‘Î‰ž */
}
.role {
    display: inline-block;
    margin: 1px;
    border-radius: 0.2rem;

    &.unknown {
        background-color: #eee;
    }

    &.crew {
        background-color: #8f8;
    }

    &.imp {
        background-color: #f88;
    }

    &.neutral {
        background-color: #88f;
    }

    &.insane {
        background-color: #ff8;
    }

    &.sane {
        background-color: #8ff;
    }

}

.name {
    display: block;
    width:fit-content;
}

table,th, td, tr {
    border-collapse: collapse; 
    border: 2px solid #e0e0e0; 
    height: 100%;
}

th:nth-child(2n-1), td:nth-child(2n-1) {
    border-right: 2px dashed #e0e0e0;
}
th:nth-child(2n), td:nth-child(2n) {
    border-left: 2px dashed #e0e0e0;
}

.InsaneResult {
    background-color: #ff0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.SaneResult {
    background-color: #0ff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Important {
    border: 1.5px solid #000;
    margin: -1px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
}

.selectImg {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.might {
    display: inline-block;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
.colorpicker {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nameAreaIconContainer {
    width: 100%;
    text-align: center;
}

.iconContainer {
    display: inline-block;
    width: 1.5rem;
    height: 1.7rem;
    position: relative;
}
.iconTextContainer {
    position: absolute;
    display: inline-block;
    top: 0.5rem;
    left: -1.85rem;
    width: 5.2rem;
    transform: scale(0.4);
    padding: 0;
    margin: 0;
    text-align: center;
}

.iconText {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    min-width: 3.5rem;
    background-color: #fff;
    border-radius: 0.2rem;
    border: 0.1rem solid #000;
    box-sizing: border-box;
}
.revive {
    position:absolute;
    width: 1.5rem;
    height: 1.5rem;
    top:0;
    left:-1.5rem;
}
